<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <style>
            section{

            }

            section span.section-title{

            }

            div.poi{
                display: inline-block;
                width: 100%;
            }

            div.poi img.poi-icon{
                height: 40px;
            }

            div.poi h2 span {
                vertical-align: middle;
                top: -15px;
                position: relative;
            }

            div.poi .poi-title{

            }



            div.poi img.poi-image{

            }
        </style>
        <section  th:each="section : ${sections}">
            <h1 th:text="${section.title}" class="section-title">Section title</h1>

            <div th:each="poi : ${section.pois}" class="poi">
                <h2>
                    <img th:src="${poi.iconUrl}" class="poi-icon"/>
                    <span th:text="${poi.name}">Name</span>
                </h2>

                <img  th:each="iu : ${poi.imageUrl}" th:src="${iu}" class="poi-image"/>


                <span th:utext="${poi.description}" class="poi-description">Description</span>
                <p th:each="extraInfo : ${poi.extraInfos}" class="poi-extra">
                    <b th:text="${extraInfo.title}">title</b>
                    <span th:utext="${extraInfo.description}">Description</span>
                </p>
            </div >
        </section>
        <span th:text="${message}"></span>
    </body>
</html>